<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="list.css" >
	</head>
	<header>
		<h1>Top 50 Best-Selling Books of All Time</h1>
	</header>
	<body>
		<%= yield %>
	</body>
	<footer>
		<p>Brought to you by: We Grok Books</p>
	</footer>
</html>